.header {
  background-color: #fff !important;
  border-bottom: 1px solid #d5d5d5;
  box-shadow: none !important;
}

.title {
  font-size: 15px;
  color: #000000;
  font-weight: 700 !important;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px !important;
}
